@import "../../scss/variables";
.card-container {
  //   width: 50%;
  color: $darkBlue;
  box-shadow: 0 0 0.7rem 0.1rem rgba($color: $darkBlue, $alpha: 0.5);
  margin: 0.5rem 0;
  border-radius: 0.5rem;

  .show {
    display: flex;
    justify-content: center;
    gap: 2rem;
    .image {
      flex: 1;
      padding: 0.2rem;
      box-shadow: 0 0 0.7rem 0.1rem rgba($color: $darkGreen, $alpha: 0.5);
      img {
        width: 100%;
        min-width: 100px;
        max-width: 200px;
        max-height: 150px;
      }
    }
    .details {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      .name {
        font-size: 1.2rem;
      }
      .price {
        display: flex;
        justify-content: center;
        gap: 1rem;
        strong {
          font-size: 1.5rem;
          color: $lightGreen;
        }
        span {
          font-size: 1rem;
          text-decoration: line-through;
        }
      }
      .count {
        width: 200px;
        display: flex;
        justify-content: center;
        gap: 1rem;
        cursor: default;
        .btn {
          width: 1rem;
          border-radius: 0.3rem;
          border: none;
          background-color: $darkGreen;
          padding: 0.2rem;
          color: $lightNeon;
          width: 24px;
          height: 24px;

          cursor: pointer;
        }
      }
    }
  }
}
