.main {
  padding-right: 1rem;

  .card-container {
    display: flex;
    flex-direction: column;
  }
  .total-price {
    text-align: end;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .add {
    text-align: end;
  }
}
