@import "../../scss/variables";

.main {
  padding: 1rem 0.5rem 1rem 0.2rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 0.7rem 0.1rem rgba($color: $darkBlue, $alpha: 0.5);
  border-radius: 0.5rem;
  form {
    text-align: left;
    padding-left: 1rem;
    label {
      margin: 1rem 0 0.5rem 0.3rem;
      font-weight: 500;
      font-size: 1.2rem;
    }
    input {
      font-size: 1.2rem !important;
    }
    .button {
      text-align: end;
      margin-top: 0.5rem;
    }
  }
}
